body {
    background-color: #f6f9fc;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

a {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto';
  text-decoration: none;
  margin-right: 15px;
  color: rgb(201, 201, 201);
}

.topbar-text  {
  font-weight: bold;
}


li {
  padding: 14px 15px 0px
}

.nav  {
  min-height: 40px;
  padding: 10px 15px;
  background: #333;
  border-bottom: 5px #004804 solid;
  position: relative;
  display: block;
  overflow:hidden;
}

#nav-logo {
  display: inline-block;
  height: 30px;
  padding-top: 5px ;
  padding-left: 0px;
}

a:hover {
  color: white;
}


#Home   {
  float: right;
  display: block;
  font-weight: bold;
}

#Forums {
  display: block;
  float: right;
  font-weight: bold;
}

#Wiki   {
  display: block;
  float: right;
  font-weight: bold;
}

#Github {
  display: block;
  float: right;
  font-weight: bold;
}

#Download {
  display: block;
  float: right;
  font-weight: bold;
}

#Login  {
  display: block;
  float: right;
  font-weight: bold;
}